@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

:root {
  /* brand */
    --brand-dark: #124B2B;
    --brand-base: #1F6F43;

  /* grayscale */
    --gray-100: #F8F9FA;
    --gray-200: #E5E7EB;
    --gray-300: #D1D5DB;
    --gray-400: #9CA3AF;
    --gray-500: #6B7280;
    --gray-600: #4B5563;
    --gray-700: #374151;
    --gray-800: #111827;

    /* neutral */
    --black: #000000;
    --white: #FFFFFF;

    /* feedback */
    --danger: #EF4444;
    --success: #19AD70;

    --blue-dark: #1D4ED8;
    --blue-base: #2563EB;
    --blue-light: #DBEAFE;

    --purple-dark: #7E22CE;
    --purple-base: #9333EA;
    --purple-light: #F3E8FF;

    --pink-dark: #BE185D;
    --pink-base: #DB2777;
    --pink-light: #FCE7F3;

    --red-dark: #B91C1C;
    --red-base: #DC2626;
    --red-light: #FEE2E2;

    --orange-dark: #C2410C;
    --orange-base: #EA580C;
    --orange-light: #FFEDD5;

    --yellow-dark: #A16207;
    --yellow-base: #CA8A04;
    --yellow-light: #F7F3CA;

    --green-dark: #15803D;
    --green-base: #16A34A;
    --green-light: #E0FAE9;
}

/* Apply to all scrollable elements */
* {
    scrollbar-width: thin; /* Firefox */
    scrollbar-color: var(--blue-base) var(--gray-100); /* Firefox thumb / track */
  }
  
  /* Chrome, Edge, Safari */
  *::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  
  *::-webkit-scrollbar-track {
    background: var(--gray-100);
    border-radius: 4px;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: var(--blue-base);
    border-radius: 4px;
    border: 2px solid var(--gray-100);
  }
  
  *::-webkit-scrollbar-thumb:hover {
    background-color: var(--blue-dark);
  }
  
  .group.has-error label {
    color: var(--danger);
    font-weight: 600;
  }
  
  .group.has-error .input {
    border-color: var(--danger);
    border-width: 2px;
  }
  
  /* focus state when there is no error */
  .group:not(.has-error):focus-within label {
    color: var(--blue-base);
    font-weight: 600;
  }
  
  .group:not(.has-error):focus-within .input {
    border-color: var(--blue-base);
    border-width: 2px;
  }